USE [TAT_DWBI_TEMP]
GO
/****** Object:  UserDefinedFunction [dbo].[hadi_UDF_Gregorian_To_Persian]    Script Date: 10/31/2018 7:34:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER Function [dbo].[hadi_UDF_Gregorian_To_Persian] (@date datetime)
Returns nvarchar(50)
as
Begin
    Declare @depoch as bigint
    Declare @cycle  as bigint
    Declare @cyear  as bigint
    Declare @ycycle as bigint
    Declare @aux1 as bigint
    Declare @aux2 as bigint
    Declare @yday as bigint
    Declare @Jofst  as Numeric(18,2)
    Declare @jdn bigint
      
    Declare @iYear   As Integer
    Declare @iMonth  As Integer
    Declare @iDay    As Integer
	Declare @RES    As VARCHAR(50)
	Declare @Status   As VARCHAR(20)
 
    Set @Jofst=2415020.5
    Set @jdn=Round(Cast(@date as int)+ @Jofst,0)
 
    Set @depoch = @jdn - [dbo].[hadi_UDF_Persian_To_Julian](475, 1, 1) 
    Set @cycle = Cast(@depoch / 1029983 as int) 
    Set @cyear = @depoch%1029983 
      
    If @cyear = 1029982
       Begin
         Set @ycycle = 2820 
       End
    Else
       Begin
        Set @aux1 = Cast(@cyear / 366 as int) 
        Set @aux2 = @cyear%366 
        Set @ycycle = Cast(((2134 * @aux1) + (2816 * @aux2) + 2815) / 1028522 as int) + @aux1 + 1 
      End
      
    Set @iYear = @ycycle + (2820 * @cycle) + 474 
 
    If @iYear <= 0
      Begin 
        Set @iYear = @iYear - 1 
      End
    Set @yday = (@jdn - [dbo].[hadi_UDF_Persian_To_Julian](@iYear, 1, 1)) + 1 
    If @yday <= 186 
       Begin
         Set @iMonth = CEILING(Convert(Numeric(18,4),@yday) / 31) 
       End
    Else
       Begin
          Set @iMonth = CEILING((Convert(Numeric(18,4),@yday) - 6) / 30)  
       End
       Set @iDay = (@jdn - [dbo].[hadi_UDF_Persian_To_Julian](@iYear, @iMonth, 1)) + 1 
  
      SET @RES= Convert(nvarchar(50),@iDay) + '-' +   Convert(nvarchar(50),@iMonth) +'-' + Convert(nvarchar(50),@iYear)
	  if DATENAME(dw,@date) = 'Friday' or
			Substring(@RES,0,LEN(@RES) - charindex('-',Reverse(@RES))+1) in  ('1-1','1-2','1-3','1-4','12-1','13-1','14-3','15-3','22-11','29-12')
			or @RES in ('27-2-1389','5-4-1389','19-4-1389','5-5-1389','10-6-1389','19-6-1389','12-7-1389','26-8-1389','4-9-1389','24-9-1389','25-9-1389','5-11-1389','13-11-1389','15-11-1389','3-12-1389')
			or @RES in ('17-2-1390','26-3-1390','9-4-1390','26-4-1390','30-5-1390','9-6-1390','2-7-1390','16-8-1390','24-8-1390','14-9-1390','15-9-1390','24-10-1390','2-11-1390','4-11-1390')
			or @RES in ('6-2-1391','29-3-1391','15-4-1391','29-5-1391','30-5-1391','22-6-1391','13-8-1391','4-9-1391','5-9-1391','14-10-1391','23-10-1391','1-11-1391','10-11-1391','30-12-1391')
			or @RES in ('25-1-1392','3-3-1392','17-3-1392','3-4-1392','8-5-1392','18-5-1392','19-5-1392','11-6-1392','24-7-1392','2-8-1392','22-8-1392','23-8-1392','2-10-1392','10-10-1392','12-10-1392','20-10-1392','29-10-1392')
			or @RES in ('14-1-1393','23-2-1393','6-3-1393','23-3-1393','28-4-1393','7-5-1393','8-5-1393','31-5-1393','13-7-1393','21-7-1393','12-8-1393','13-8-1393','22-9-1393','30-9-1393','2-10-1393','10-10-1393','19-10-1393')
			or @RES in ('12-2-1394','26-2-1394','13-3-1394','17-4-1394','27-4-1394','28-4-1394','20-5-1394','2-7-1394','10-7-1394','1-8-1394','2-8-1394','11-9-1394','19-9-1394','21-9-1394','29-9-1394','8-10-1394','23-12-1394')
			or @RES in ('2-2-1395','16-2-1395','2-3-1395','7-4-1395','16-4-1395','17-4-1395','9-5-1395','22-6-1395','30-6-1395','20-7-1395','21-7-1395','30-8-1395','8-9-1395','10-9-1395','18-9-1395','27-9-1395','12-12-1395','30-12-1395')
			or @RES in ('22-1-1396','5-2-1396','22-2-1396','26-3-1396','5-4-1396','6-4-1396','29-4-1396','10-6-1396','18-6-1396','8-7-1396','9-7-1396','18-8-1396','26-8-1396','28-8-1396','6-9-1396','15-9-1396','1-12-1396')
			or @RES in ('11-1-1397','25-1-1397','12-2-1397','16-3-1397','25-3-1397','26-3-1397','18-4-1397','31-5-1397','8-6-1397','28-6-1397','29-6-1397','8-8-1397','16-8-1397','17-8-1397','25-8-1397','4-9-1397','20-11-1397')
			or @RES in ('14-1-1398','31-1-1398','5-3-1398','7-4-1398','20-5-1398','28-5-1398','17-6-1398','18-6-1398','27-7-1398','5-8-1398','6-8-1398','14-8-1398','23-8-1398','8-11-1398','18-12-1398')
			or @RES in ('20-1-1399','25-2-1399','4-3-1399','5-3-1399','28-3-1399','10-5-1399','18-5-1399','7-6-1399','8-6-1399','16-7-1399','24-7-1399','26-7-1399','4-8-1399','13-8-1399','27-10-1399','7-12-1399','21-12-1399','30-12-1399')
			or @RES in ('8-1-1400','13-2-1400','23-2-1400','24-2-1400','16-3-1400','29-4-1400','6-5-1400','26-5-1400','27-5-1400','5-7-1400','13-7-1400','14-7-1400','22-7-1400','1-8-1400','16-10-1400','25-11-1400','9-12-1400','27-12-1400')
			or @RES in ('2-2-1401','12-2-1401','13-2-1401','5-3-1401','18-4-1401','26-4-1401','16-5-1401','17-5-1401','2-7-1401','4-7-1401','12-7-1401','21-7-1401','6-10-1401','15-11-1401','29-11-1401','16-12-1401')
			or @RES in ('23-1-1402','1-2-1402','2-2-1402','25-2-1402','7-4-1402','15-4-1402','5-5-1402','6-5-1402','14-6-1402','22-6-1402','24-6-1402','1-7-1402','10-7-1402','25-9-1402','5-11-1402','19-11-1402','6-12-1402')
			or @RES in ('22-1-1403','23-1-1403','15-2-1403','27-3-1403','4-4-1403','25-4-1403','26-4-1403','3-6-1403','11-6-1403','13-6-1403','21-6-1403','30-6-1403','14-9-1403','24-10-1403','8-11-1403','26-11-1403','30-12-1403')
			or @RES in ('10-1-1404','11-1-1404','3-2-1404','16-3-1404','24-3-1404','13-4-1404','14-4-1404','23-5-1404','31-5-1404','1-6-1404','9-6-1404','18-6-1404','3-9-1404','12-10-1404','26-10-1404','14-11-1404','19-12-1404')
			or @RES in ('24-1-1405','6-3-1405','3-4-1405','4-4-1405','12-5-1405','20-5-1405','22-5-1405','30-5-1405','8-6-1405','22-8-1405','1-10-1405','15-10-1405','3-11-1405','9-12-1405','18-12-1405','19-12-1405')
			or @RES in ('26-2-1406','3-3-1406','24-3-1406','25-3-1406','2-5-1406','10-5-1406','11-5-1406','19-5-1406','28-5-1406','11-8-1406','20-9-1406','4-10-1406','22-10-1406','28-11-1406','7-12-1406','8-12-1406')
			or @RES in ('16-2-1407','24-2-1407','13-3-1407','23-4-1407','31-4-1407','1-5-1407','0-5-1407','18-5-1407','30-7-1407','10-9-1407','24-9-1407','11-10-1407','17-11-1407','26-11-1407','27-11-1407','20-12-1407')
			or @RES in ('5-2-1408','13-2-1408','2-3-1408','3-3-1408','12-4-1408','20-4-1408','22-4-1408','30-4-1408','8-5-1408','20-7-1408','29-8-1408','13-9-1408','1-10-1408','6-11-1408','16-11-1408','17-11-1408','10-12-1408','30-12-1408')
		Begin
		SET @RES= concat(@RES , ' # تعطیل')
		end
	  else
		begin
		SET @RES= concat(@RES , ' # روز کاری ')
		end
	if DATENAME(dw,@date) = 'Friday' 
		begin
		SET @RES= concat(@RES , ' * جمعه ')
		end
	if DATENAME(dw,@date) = 'Thursday' 
		begin
		SET @RES= concat(@RES , ' * پنجشنبه ')
		end
	if DATENAME(dw,@date) = 'Wednesday' 
		begin
		SET @RES= concat(@RES , ' * چهارشنبه ')
		end
	if DATENAME(dw,@date) = 'Tuesday' 
		begin
		SET @RES= concat(@RES , ' * سه شنبه ')
		end
	if DATENAME(dw,@date) = 'Monday' 
		begin
		SET @RES= concat(@RES , ' * دوشنبه ')
		end
	if DATENAME(dw,@date) = 'Sunday' 
		begin
		SET @RES= concat(@RES , ' * یکشنبه ')
		end
	if DATENAME(dw,@date) = 'Saturday' 
		begin
		SET @RES= concat(@RES , ' * شنبه ')
		end	
	
	if @iMonth = 1
		begin
		SET @RES= concat(@RES , ' $ فروردین ')
		end
	if @iMonth = 2
		begin
		SET @RES= concat(@RES , ' $ اردیبهشت')
		end
	if @iMonth = 3
		begin
		SET @RES= concat(@RES ,  ' $ خرداد ')
		end
	if @iMonth = 4
		begin
		SET @RES= concat(@RES ,  ' $ تیر ')
		end
	if @iMonth = 5
		begin
		SET @RES= concat(@RES ,  ' $ مرداد ')
		end
	if @iMonth = 6
		begin
		SET @RES= concat(@RES ,  ' $ شهریور ')
		end
	if @iMonth = 7
		begin
		SET @RES= concat(@RES ,  ' $ مهر ')
		end
	if @iMonth = 8
		begin
		SET @RES= concat(@RES , ' $ آبان ')
		end
	if @iMonth = 9
		begin
		SET @RES= concat(@RES , ' $ آذر ')
		end
	if @iMonth = 10
		begin
		SET @RES= concat(@RES ,  ' $ دی ')
		end
	if @iMonth = 11
		begin
		SET @RES= concat(@RES ,  ' $ بهمن ')
		end
	if @iMonth = 12
		begin
		SET @RES= concat(@RES ,  ' $ اسفند ')
		end

	return @RES
End
